<%= form_viewport(note) do |f| %>
  <div style="position: absolute; top: 4px; width: 90%">
    <%= f.text_field :title, :class => 'form-control', :style => 'width: 100%; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px' %>
  </div>

  <%= f.text_area :body, :class => 'form-control', :style => 'position: absolute; top: 37px; bottom: 36px; width: 90%; border-radius: 0px; resize: none', autofocus: true %>
<% end %>
