/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 */

@import 'bootstrap-sprockets';
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

#app_container {
  height: 100%;

  > [data-react-class="App"] {
    height: 100%;
  }
}


#filter-tags-dropdown {
    max-height: 500px;
    overflow-y: auto;
}

.browser-app-results li {
  position: relative;
  overflow-x: auto;

  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px dashed #ddd;

  a {
    color: #000;
  }

  &:first-child {
    border-top: none;
  }

  .preview {
    display: block;
    font-weight: bold;
  }

  .actions {
    position: absolute;
    top: 3px;
    right: 3px;
  }

  &:not(:hover) .actions {
    display: none;
  }

  .tag {
    font-family: sans-serif;
    font-size: 0.9em;
  }
}

.browser-app-actions {
  .fa {
    color: #888;
    font-size: 24px;
  }

  > span, > a, > button {
    display: block;
  }

  a:hover {
    text-decoration: none;
  }

  button {
      margin: 0;
      padding: 0;
      border: 0;
      background-color: #fff;
  }

  [data-search-action=true] {
      display: none;
  }
}
