#browser {
    height: 100%;
    overflow: auto;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            padding-left: 10px;
            position: relative;
            overflow-x: auto;
        }
        li .actions {
            position: absolute;
            top: 3px;
            right: 3px;
        }
        li:not(:hover) .actions {
            display: none;
        }
    }
}
#browser li {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px dashed #ddd;

    a {
      color: #000;
    }
}
#browser li:first-child {
        border-top: none;
}
#browser li.selected {
    background-color: #99ccff;
}
#browser .selector .preview {
    display: block;
    font-weight: bold;
}
#browser .selector .tag {
    font-size: 0.9em;
}
