
html, body {
    height: 100%;
}

#filterer {
    position: fixed;
    top: 6px;
    left: 0px;
}

#browser {
    position: fixed;
    top: 40px;
    left: 0px;
}

#viewer {
    padding-top: 12px;
    overflow-x: auto;
    min-height: 100%;

    // Fixes a weird problem in Chrome:
    // after changing note, #viewer is invisible until page resize
    float: none;
    padding-left: 10px;
}

@media print {
    #browser, #filterer {
        display: none;
    }

    #viewer {
        width: 100%;
        margin-left: 10px;
    }
}