
html, body, #app_container, #app_container > *, #app, #viewport {
    height: 100%;
}

#filterer {
    position: fixed;
    top: 6px;
    left: 0px;
}

#results {
    position: fixed;
    top: 68px;
    left: 0px;
}

#viewport {
    margin-left: 0px;
    margin-right: 0px;
}

#viewport #content {
    padding-top: 12px;
    overflow-x: auto;
    min-height: 100%;

    // Fixes a weird problem in Chrome:
    // after changing note, #viewport #content is invisible until page resize
    float: none;
    padding-left: 10px;
}

#controls {
  position: fixed;
  top: 6px;
  right: 12px;
  width: 20px;

  .glyphicon {
      color: #888;
      font-size: 24px;
  }

  a.glyphicon {
      text-decoration: none;
      color: #bbb;

      &:hover {
          color: #888;
      }
  }
}

@media print {
    #results, #filterer {
        display: none;
    }

    #viewport #content {
        width: 100%;
        margin-left: 10px;
    }
}