
html, body, #app_container, #app, #viewport {
    height: 100%;
}

#filterer {
    position: fixed;
    top: 6px;
    left: 0px;
}

#browser {
    position: fixed;
    top: 68px;
    left: 0px;
}

#viewport {
    margin-left: 0px;
    margin-right: 0px;
}

#viewport #content {
    padding-top: 12px;
    overflow-x: auto;
    min-height: 100%;

    // Fixes a weird problem in Chrome:
    // after changing note, #viewport #content is invisible until page resize
    float: none;
    padding-left: 10px;
}

@media print {
    #browser, #filterer {
        display: none;
    }

    #viewport #content {
        width: 100%;
        margin-left: 10px;
    }
}