// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note {
    margin-bottom: 1em;
    padding-bottom: 3px;

    p, ul, ol, td, th, blockquote {
        font-size: 14px;
    }

    .title {
        font-size: 2em;
    }

    .body, .ProseMirror-content {
        margin-top: 8px;

        h1,h2,h3,h4 {
            margin-bottom: 6px;
            font-weight: normal;
            text-decoration: underline;

            &:first-child {
                margin-top: 0px;
            }
        }

        h1 {
            font-size: 1.7em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.3em;
        }

        h4 {
            font-size: 1.2em;
        }

        p:first-child {
            margin-top: 0px;
        }

        p:last-child {
            margin-bottom: 0px;
        }

        p + ul, p + ol {
            margin-top: -10px;
        }

        table {
            width: auto;
        }

        blockquote p {
            margin-top: 15px;
        }

        div.abc {
            margin-left: auto;
            margin-right: auto;
        }

        pre code {
            white-space: pre;
            word-wrap: initial
        }
    }

    footer {
        padding-top: 8px;
        margin-top: 4px;
    }

    .tag-links {
        padding: 3px;
        margin-right: 4px;
        background-color: #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
    }
}

.note .display {
    width: 90%;
}

.note form {
    *, *:focus {
        outline: none;
        box-shadow: none;
    }

    .title {
        position: absolute;
        top: 4px;
        width: 100%;

        input {
            width: 100%;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
    }

    .editor {
        textarea {
            position: absolute;
            top: 37px;
            bottom: 36px;
            width: 100%;
        }

        .ProseMirror {
            position: absolute;
            top: 37px;
            bottom: 36px;
            width: 100%;
        }

        .ProseMirror-content {
            position: absolute;
            top: 23px;
            bottom: 0px;
            overflow-y: auto;
            width: 100%;
        }
    }

    .tags {
        position: absolute;
        bottom: 2px;
        width: 100%;

        .input-group-btn:first-child .btn {
            border-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-top: 7px;
        }

        input {
            width: 100%;
            border-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .input-group-btn:last-child .btn {
            border-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding-top: 7px;
        }
    }

    .editor textarea {
        border-radius: 0px;
        resize: none;
    }

    .tag-selector span {
        margin: 2px;
    }
}

.abc {
    position: relative;
    background-color: #fdfbf5;
    box-shadow: 3px 3px 2px #dddbd5;
    margin-bottom: 20px;

    .midi {
        position: absolute;
        top: 8px;
        right: 50px;
    }

    .hide-me {
        display: none !important;
    }
}

.tag-selector .modal-header h3 {
    margin: 0px;
}

@media print {
    .midi {
        display: none;
    }

    .note footer {
        display: none;
    }
}

@media (min-width: 992px) {
}

@media (max-width: 991px) {
    .note p {
        text-align: justify;
    }

    .note form[id^=edit_note], .note form#new_note {
        position: fixed;
        top: 6px;
        bottom: 6px;
        left: 6px;
        right: 65px;
    }

    .note.edit #actions [data-search-action=true] {
        display: none;
    }

    .ProseMirror-content {
        padding-top: 23px;
    }
}