
.tune_widget {
    position: relative;
    width: 800px;

    .tune_source {
        max-height: 150px;
        overflow-y: scroll;

        .tune_line {
            padding: 15px;

            &.active {
                background-color: #aba;
            }

            &.visible {
                background-color: #cdc;
            }

            input {
                width: 400px;
            }
        }
    }

    .metronome {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 15px;
        height: 15px;

        &.blip {
            background-color: #000;
        }
    }
}
