<div id="viewport" class="row" style="height: 100%">
  <div id="spacer" class="col-md-3"></div>
  <div id="content" class="col-md-8">
    <%= yield %>
  </div>

  <div id="inspector" tabindex="-1" class="modal" data-permalinks-permanent="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body"></div>
      </div>
    </div>
  </div>
</div>
