<!DOCTYPE html>
<html>
<head>
  <title>Notes</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="app_container">
    <%= react_component "App", {
          searchPath: notes_path,
          autoCompletePath: autocomplete_path,
          initialTags: current_user.tags.labels,
          initialFilters: [],
          initialFilter: params[:f],
          initialResults: filter_results,
          initialActive: { id: @note ? "notes/#{@note.id}" : "notes",
                           url: request.fullpath,
                           html: yield              }
        }, prerender: true %>
  </div>
</body>
</html>
